@import "tailwindcss";


.container {
    width: 100%;

}

@media (min-width: 48rem) {
    .container {
        width: 80%;
    }
}

@media (min-width: 64rem) {
    .container {
        width: 90%;

    }
}

@media (min-width: 75rem) {
    .container {
        width: 100%;

    }
}





@plugin "daisyui" {
    themes: dark --prefersdark;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}
